body {
    background: linear-gradient(to right, #ffd6ff, #240246);
    color: #660066;
    text-align: center;
    font-family: 'Comic Sans MS', cursive;
  }
  
  h1, h2 {
    color: #fff;
    text-shadow: 1px 1px 5px #cc00cc;
  }
  
  input {
    background-color: #fff0ff;
    border: 1px solid #8000ff;
    border-radius: 3px;
    padding: 3px;
    margin: 2px;
    width: 140px;
    font-size: 10px;
  }
  
  .botao-minimo {
    background-color: transparent;
    border: 0.5px solid #c900c9;
    color: #fdfdfd;
    font-size: 9px;
    padding: 2px 4px;
    border-radius: 2px;
    cursor: pointer;
    opacity: 0.3;
    transition: 0.3s;
  }
  
  .botao-minimo:hover {
    opacity: 0.8;
    background-color: #ffccff;
    color: #660066;
  }
  
  .invisivel {
    display: none;
  }
  