body {
  background-image: url("img/4171562e9374a978ea4008aba68e05c5.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: lime;
  font-family: "Comic Sans MS", cursive;
  text-align: center;
  margin: 0;
}

header {
  background: repeating-linear-gradient(45deg, red, yellow 10px, blue 20px);
  padding: 40px;
  border-bottom: 10px dashed lime;
}

#titulo-principal {
  font-size: 65px;
  color: white;
  text-shadow: 5px 5px 0px magenta;
  animation: treme 0.1s infinite;
}

#slogan {
  font-size: 18px;
  color: yellow;
  background: magenta;
  border: 5px solid cyan;
  display: inline-block;
  padding: 5px;
  transform: rotate(-7deg);
}

#combos {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

button {
  background-color: red;
  color: cyan;
  font-size: 14px;
  border: 4px groove yellow;
  padding: 10px 15px;
  cursor: pointer;
  transform: rotate(5deg);
}

button:hover {
  transform: rotate(-15deg) scale(1.4);
  background-color: lime;
  color: blue;
}

footer {
  background: black;
  color: white;
  padding: 10px;
  margin-top: 50px;
  border-top: 8px dotted red;
}

.descricao {
  background: yellow;
  color: red;
  font-size: 18px;
  border: 4px dashed purple;
  padding: 10px;
  margin: 20px;
  animation: pisca 0.7s infinite alternate;
}

@keyframes pisca {
  from { opacity: 1; }
  to { opacity: 0.4; color: lime; background: blue; }
}

@keyframes treme {
  0% { transform: translate(0px, 0px); }
  25% { transform: translate(3px, 3px); }
  50% { transform: translate(-3px, -3px); }
  75% { transform: translate(2px, -2px); }
  100% { transform: translate(0px, 0px); }
}


.botao-voltar1 {
  position: absolute;
  top: 20px;
  left: 30px;
}

.botao-voltar2 {
  position: absolute;
  bottom: 10px;
  left: 1%;
  transform: translateX(-50%) rotate(5deg);
}

.botao-voltar3 {
  position: absolute;
  top: 100px;
  right: 40px;
}

.botao-voltar4 {
  position: absolute;
  bottom: 10px;
  right: 120px;
}

.botao-voltar5 {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%) rotate(-10deg);
}

.botao-voltar:hover {
  color: lime;
  text-decoration: underline;
}

body {
  background: linear-gradient(90deg, pink, yellow, lightblue);
  font-family: "Comic Sans MS", cursive;
  text-align: center;
  color: purple;
  animation: pisca 1s infinite;
}

@keyframes pisca {
  0% { background-color: pink; }
  50% { background-color: lightblue; }
  100% { background-color: pink; }
}

h1 {
  font-size: 50px;
  text-shadow: 2px 2px white;
}

input, select, button {
  margin: 10px;
  padding: 10px;
  border: 5px dotted purple;
  background-color: yellow;
  color: blue;
  font-weight: bold;
  font-size: 16px;
}

button:hover {
  transform: rotate(10deg) scale(1.3);
  background-color: hotpink;
}

#resumo {
  margin-top: 30px;
  background-color: white;
  border: 3px solid purple;
  padding: 20px;
  font-size: 18px;
}
