body {
  background-image: url("img/4171562e9374a978ea4008aba68e05c5.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: lime;
  font-family: "Comic Sans MS", cursive;
  text-align: center;
  margin: 0;
}

header {
  background: repeating-linear-gradient(45deg, red, yellow 10px, blue 20px);
  padding: 40px;
  border-bottom: 10px dashed lime;
}

#titulo-principal {
  font-size: 65px;
  color: white;
  text-shadow: 5px 5px 0px magenta;
  animation: treme 0.1s infinite;
}

#slogan {
  font-size: 18px;
  color: yellow;
  background: magenta;
  border: 5px solid cyan;
  display: inline-block;
  padding: 5px;
  transform: rotate(-7deg);
}

#combos {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

button {
  background-color: red;
  color: cyan;
  font-size: 14px;
  border: 4px groove yellow;
  padding: 10px 15px;
  cursor: pointer;
  transform: rotate(5deg);
}

button:hover {
  transform: rotate(-15deg) scale(1.4);
  background-color: lime;
  color: blue;
}

footer {
  background: black;
  color: white;
  padding: 10px;
  margin-top: 50px;
  border-top: 8px dotted red;
}

.descricao {
  background: yellow;
  color: red;
  font-size: 18px;
  border: 4px dashed purple;
  padding: 10px;
  margin: 20px;
  animation: pisca 0.7s infinite alternate;
}

@keyframes pisca {
  from { opacity: 1; }
  to { opacity: 0.4; color: lime; background: blue; }
}

@keyframes treme {
  0% { transform: translate(0px, 0px); }
  25% { transform: translate(3px, 3px); }
  50% { transform: translate(-3px, -3px); }
  75% { transform: translate(2px, -2px); }
  100% { transform: translate(0px, 0px); }
}

.botao-voltar {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 10px;
  cursor: pointer;
}

.botao-voltar:hover {
  color: lime;
  text-decoration: underline;
}
